<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/5619d596-a956-4293-ade9-2f4f0ee340de/resourceGroups/ARProject-DEV/providers/Microsoft.ContainerRegistry/registries/containerregistryarprojectdev</ResourceId>
    <ResourceName>containerregistryarprojectdev</ResourceName>
    <ResourceGroup>ARProject-DEV</ResourceGroup>
    <Subscription>VS Enterprise: FusionMetric BizSpark</Subscription>
    <RegistryUrl>https://containerregistryarprojectdev.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>1f3b18b2-3f1e-4261-b3b1-04016bca7992</ProjectGuid>
  </PropertyGroup>
</Project>